@model IEnumerable<Recipe.Models.DbRecipe.Recipe>

<p>
    @Html.ActionLink("Create New", "")
</p>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <div class="row">

            @foreach (var item in Model)
            {
                        <!-- Box -->
                <div class="4u 12u(medium)">
                    <section class="box feature">
                        <a href="#" class="image featured"><img src="@Html.DisplayFor(modelItem => item.ImageUrl)" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                            </header>
                            <p>@Html.DisplayFor(modelItem => item.Description).ToHtmlString().Substring(0, 70)</p>
                        </div>
                    </section>
                </div>
            }

        </div>
    </div>
</div>

</table>
